body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

.bg-red {
    background-color: #BC2018;
    color: #FFFFFF;
}

.bg-dark-red {
    background-color: #811712;
    color: #FFFFFF;
}

.text-red {
    color: #BC2018;
}

.btn-red,
.badge-red {
    background: #BC2018;
    color: #ffffff;
}

.btn-red:hover,
.badge-red:hover {
    background: #811712;
    color: #ffffff;
}

.text-white {
    color: #FFFFFF;
}

.full-height {
    min-height: 100vh;
}

.full-width {
    min-width: 100vh;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.counter .label {
    font-size: 1.2em;
}

.organizacao img {
    max-width: 100%;
    max-height: 200px;
}

#sobre {
    background-image: url(img/aa3-invertido.jpg);
    background-position: center;
    background-size: cover;
}

#participe {
    background-image: url(img/aa.jpg);
    background-position: center;
    background-size: cover;
}

#mainNavbar {
    background: #FFFFFF;
}

#mainNavbar.scrolled {
    background: #BC2018;
    color: white;
    transition: background 800ms;
}

#banner{
    font-size: 1.2em;
}

.navbar-brand{
    font-size: 1.5em;
}

.navbar-brand img {
    height: 40px;
}


.line {
    height: 1px;
    padding: 1px;
}

.right-rotate {
    -ms-transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    transform: rotate(-80deg);
}

.conteudo{
    font-size: 1.1em;
    font-weight: 600;
}

 @media (min-width: 768px) {  
    .conteudo {
        font-size: 1.4em;
    }
    .navbar-brand{
        font-size: 1.3em;
    }
    #mainNavbar{
        font-size: 1.2em;
    }
    #banner h1{
        font-size: 6.0rem;
    }
}